<% layout ('layouts/boilerplate.ejs') %>
    <h1 class="text-center">Edit this campground</h1>

    <div class="row" style="margin-top: 15px;">
        <div class="col-6 offset-3">
            <% for (let img of campground.image) { %>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top img-thumbnail" src="<%=img.url%>" alt="Card image cap">

                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="deleteImages[]"
                                name="<%=img.filename%>" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Delete
                            </label>
                        </div>
                    </div>
                </div>
                <% } %>
                    <form method="POST" action="/campground/<%=campground._id%>?_method=PUT"
                        enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Title</label>
                            <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3"
                                name="title"><%=campground.title%></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Location</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                name="location"><%=campground.location%></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                name="desciption"><%=campground.location%></textarea>
                        </div>

                        <label for="basic-url">Image URL</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">https://</span>
                            </div>
                            <input type="file" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                name="image">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                                <span class="input-group-text">
                                    <%=campground.price%>
                                </span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar) name = "
                                price">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


        </div>



    </div>